<p *ngIf="detailsDisplayed">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  Nunc ex sem, tristique nec nulla at, ultricies eleifend lectus.
  Duis vel ullamcorper velit. Ut ultrices laoreet augue. Aenean feugiat luctus enim, in blandit erat.
  In feugiat nec nulla quis iaculis. Morbi at nulla eget mauris faucibus aliquam.
  Integer tellus dolor, dapibus nec neque sed, tempor suscipit libero. Aliquam vitae maximus est, sed tempus justo.
  Sed quis sapien ut diam porta ornare id eget ligula. Duis in tellus ut arcu feugiat aliquet in at libero.
</p>

<button class="btn-primary" (click)="onDisplayDetails()">Display Details</button>
<div *ngFor="let displayDetailsClick of displayDetailsClicks">
  <span [ngStyle]="{backgroundColor: getBackgroundColor(displayDetailsClick)}" [ngClass]="{greaterThanFourColor: displayDetailsClick.count > 4}">{{displayDetailsClick.status}}</span>
</div>
